{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'register.html' %}
     <!-- ======= Featured Services Section ======= -->
     <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
  
         
                 
            
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">School team</a></h4>
                <p class="description">Our view is complete which means we still need to configure our URLs and make our
                    template. Let’s start with the template. Create a new directory called templates and
                    within it a home.html template file.</p>
              </div>
            </div>
  

          
                   


            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">FCE PANKSHIN</a></h4>
                <p class="description">Home of success</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
    {% endblock %}

   
 